.button {
        align-items: center;
        background-color: #333;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: Inter,sans-serif;
        font-size: 12px;
        font-weight: 600;
        height: 40px;
        justify-content: center;
        letter-spacing: -.8px;
        /* line-height: 24px;
        min-width: 140px; */
        outline: 0;
        padding: 0 6px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      .button:focus {
        color: cadetblue;
      }
      .button:hover {
        border-color: #06f;
        color: #06f;
        fill: #06f;
      }
      .button:active {
        border-color: #06f;
        color: #06f;
        fill: #06f;
      }
