.Discussion {
  padding-left: 8%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.title {
  /* flex: 3; */
  width: 60%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 400px;
}
