
.graveyard h2 {
    color: white;
}

.graveyard h3 {
    color: rgb(56, 56, 56);
}

.graveyard {
    width: 20%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

.graveyardScroll {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 80%;

}

.graveyardListItem {
    display: flex;
    flex-direction: row;
    margin: 8px;
    padding-left: 8px;
    background-color: white;
    border-radius: 10px;
}