.parent {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10%;
        background-color: dimgray;
}

.parent-box {
        background-color: #333;
        border-radius: 12px;
        color: #eee;
        min-height: 200px;
        padding: 150px;
        width: 300px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
}

.child-tabs {
        display: flex;
        flex-flow: row;
        justify-content: center;
}

.player-select {
        background-color: gray;
        border-radius: 12px;
        color: #eee;
        padding: 120px;
        width: 300px;

        display: flex;
        flex-flow: row;
        justify-content: center;
}