.RoleList {
  width: 15%;
  margin-left: 3%;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
}

.RoleListItem {
  /* display: flex; */
  flex-direction: row;
  margin: 20px;
  padding-left: 8px;
  padding-top: 3px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.RoleList h2 {
  color: white;
}

.RoleList h3 {
  color: rgb(56, 56, 56);
}

.RoleListScroll {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 80%;
}
