.VotePanel {
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  border-radius: 10px;
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.titleBar h2 {
  text-align: center;
}

.nameTitle {
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
}

.voteTitle {
  flex: 2;
  padding-left: 5%;
  padding-right: 20%;
}

.nameList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 70%;
}

.voteListItem {
  display: flex;
  flex-direction: row;
  margin: 8px;
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
}

.nameLabel {
  width: 40%;
  color: white;
  font-size: 24px;
}

.votesLabel {
  width: 40%;
  color: white;
  font-size: 24px;
}
